@charset "UTF-8";
*{
	margin:0px;
	padding:0px;
}

/*html5 display rule */
address, article, aside, canvas, content, details, figcaption, figure, footer, header, hgroup, nav, menu, section, summary {
	display:block;
}

@font-face {
    font-family: 'ChunkFiveRoman';
    src: url('../fonts/chunkfive-webfont.eot');
    src: url('../fonts/chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chunkfive-webfont.woff') format('woff'),
         url('../fonts/chunkfive-webfont.ttf') format('truetype'),
         url('../fonts/chunkfive-webfont.svg#ChunkFiveRoman') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
	background-color: #353535;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	background-image: url(../images/dots.png);
}

h1, h2, h3 {
	font-family: 'ChunkFiveRoman', Georgia, "Times New Roman", Times, serif;
	}


content{
	width:940px;
	margin-top:20px;
	margin-right:auto;
	margin-bottom:20px;
	margin-left:auto;
	position:relative;
	background-color:#f2f3ed;
	border-radius:25px;
	-moz-border-radius:25px; /* Firefox 3.6 and earlier */
}

header {
	border-bottom-color: #CCC;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

header h1 {
  text-shadow: 5px 5px 5px #888 ;
	padding:20px 20px 20px 97px;
	color: #407a01;
	font-size:42px;
	}
	

header p {
	color:#353535;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	position: absolute;
	right: 0px;
	top: 33px;
	background-color:#f2f3ed;
	padding:10px;
	
	/* rounded corners */
	border-radius:25px;
	-moz-border-radius:25px; /* Firefox 3.6 and earlier */
	
	/* 2d skew trasnform */
	transform:skew(-20deg,0deg);
	-ms-transform:skew(-20deg,0deg); /* IE 9 */
	-moz-transform:skew(-20deg,0deg); /* Firefox */
	-webkit-transform:skew(-20deg,0deg); /* Safari and Chrome */
	-o-transform:skew(-20deg,0deg); /* Opera */
	
	/* css3 transition */
	-webkit-transition:all .5s;
	-o-transition-property:all;
	-o-transition-duration:.5s;
	-moz-transition-property:all;
	-moz-transition-duration:.5s;
	transition-property:all;
	transition-duration:.5s;
	}
	
	
header p:hover {
	color:#f2f3ed;
	background-color:#353535;
	background-image: url(../images/dots.png);
	}
	

#logo { 
	position: absolute; 
	top: 12px; 
	left: 20px; 
	background: url(../images/logo_small.png) no-repeat;
	width: 61px; 
	height: 62px;
	text-indent:-9999px;
	
	/* css3 transition */
	-webkit-transition:all 1s;
	-o-transition-property:all;
	-o-transition-duration:1s;
	-moz-transition-property:all;
	-moz-transition-duration:1s;
	transition-property:all;
	transition-duration:1s;
	}
#logo:hover { 
	transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-webkit-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	}

header#anim {
	height:250px;
	}
	
nav {
	float:left;
	width:200px;
}

nav li{
	list-style-type:none;
}

nav li a{
	font-family:Georgia, "Times New Roman", Times, serif;
	text-decoration:none;
	display:block;
	padding-top:10px;
	padding-right:20px;
	padding-bottom:10px;
	padding-left:20px;
	font-size:18px;
	/* css3 transition */
	-webkit-transition:all .5s;
	-o-transition-property:all;
	-o-transition-duration:.5s;
	-moz-transition-property:all;
	-moz-transition-duration:.5s;
	transition-property:all;
	transition-duration:.5s;
}

nav li a:link{
	color:#333;
	
}
nav li a:visited{
	color:#333;
}
nav li a:hover{
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#FFF;
	background-color:#5b9819;
	box-shadow: 0px 0px 5px #888;
	-webkit-box-shadow:0px 0px 5px #888; /* safari */
}
nav li a:active{
	color:#333;
	background-color:#666;
}

article {
	width:739px;
	float:right;
	border-left-color: #CCC;
	border-left-width: 1px;
	border-left-style: solid;
	box-shadow: 0px 0px 5px #888;
	-webkit-box-shadow:0px 0px 5px #888; /* safari */
	}

article h2, h3, p {
	margin-left:20px;
	margin-right:20px;
	padding-top:10px;
	
	}
	
article p {
	padding-top:4px;
	padding-bottom:20px;
	line-height:18px;
	}
		
article h2{
	color:#353535;
	font-size:28px;
	text-transform: capitalize;
}

article h3{
	color:#353535;
	font-size:20px;
	text-transform: capitalize;
}

article .leftfloat{
	width:50%;
	float:left;
	}
	
article .rightfloat{
	width:50%;
	float:right;
	}

.form-top{
  margin-top: 30px;
}
.panel{
  box-shadow: 0 1px 6px 0 rgba(0,0,0,.12), 0 1px 6px 0 rgba(0,0,0,.12);
  border-radius: 6px;
  border: 0;
}
@-moz-document url-prefix() {
  .form-control{
    height: auto;
  }
}
.panel-primary{
  background-color: #2c3e50;
  color: #fff;
}
.panel-primary>.panel-heading {
  color: #fff;
  font-size: 20px;
  background-color: #2c3e50;
  border-color: #2c3e50;
}
.btn-warning{
  background-color: transparent;
  border-color: #bdc3c7;
}
	
footer {
	border-top-color: #CCC;
	border-top-width: 1px;
	border-top-style: solid;
	clear:both;
	background-color: #407a01;
	background-image: url(../../../pretentious/src/images/bg_gradient.png);
	border-bottom-right-radius:25px;
	border-bottom-left-radius:25px;
	-moz-border-bottom-right-radius:25px;
	-moz-border-bottom-left-radius:25px;
	
	}
	
footer section.first {
	float:left;
	width:200px;
	padding-top:10px;
	padding-bottom:20px;
	}

footer section.first p {
	color:#f2f3ed;
	}	
	
footer section {
	float:left;
	width:246px;
	padding-top:10px;
	padding-bottom:20px;
	color:#96C;
	}

footer section h3 {
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#f2f3ed;
	font-size:16px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #F2F3ED;
	padding-bottom: 0px;
	text-transform: capitalize;
	font-weight:normal;
	
	}
		
footer section p {
	color:#333;
	font-size:10px;
	line-height:16px;
	}

.clearing {
	clear:both;
}
